<phpunit verbose="true" forceCoversAnnotation="true" beStrictAboutTodoAnnotatedTests="true" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true" beStrictAboutCoversAnnotation="true" backupStaticAttributes="false" backupGlobals="false" bootstrap="../src/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.2/phpunit.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <php>
        <const name="CHAMP" value="50"/>
        <const name="NBPONEY" value="10"/>
    </php>
    
    <testsuites>
        <testsuite name="poney">
            <file>tests/PoneysTest.php</file>
        </testsuite>
        <testsuite name="other">
            <file>tests/OtherTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log target="./logs.junit.xml" type="junit"/>
    </logging>
</phpunit>