<phpunit>
    <php>
        <const name="CHAMP" value="50"/>
        <const name="NBPONEY" value="10"/>
    </php>
    <logging>
        <log target="logs/junit.xml" type="junit"/>
    </logging>
    <testsuites>
        <testsuite name="poney">
            <file>tests/PoneysTest.php</file>
        </testsuite>
        <testsuite name="other">
            <file>tests/OtherTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>